<main>
	<div class="aboutUs-privacy-cookies-help">  
		<h2>Cookies Policy</h2>
		<p>Your cookies has not been accepted, and unfortunately you cannot decline them.</p>
		<p>Sorry :)</p>
		</div>
</main>